<!DOCTYPE html>
<html>
  <head>
    <title>AinfoLink Control Center</title>
    <%= renderTemplate("_header.html.template") %>
    <%= renderTemplate("_style_base.html.template") %>
    <style>
      .content {
        padding: 20px 16px;
        max-width: 360px;
        margin: 0 auto;
      }

      .header {
        font-size: 1.96em;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;
      }

      .header img {
        margin-right: 16px;
      }
      .bg-image {
        background-color: #111111;
        color: #e1e1e1;
        /* The image used */
        background-image: url("/static/images/ainfolink.png");

        /* Full height */
        height: 50%;

        /* Add the blur effect */
        filter: blur(10px);
        -webkit-filter: blur(10px);
        backdrop-filter: blur(10px);

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      @media (prefers-color-scheme: dark) {
        html {
          background-color: #111111;
          color: #e1e1e1;
        }
      }
    </style>
  </head>
  <body>
    <div class="bg-image"></div>
    <div class="content">
      <div class="header">
        <img src="/static/icons/favicon-192x192.png" height="52" alt="" />
        AinfoLink Control Center
      </div>
      <ha-authorize><p>Initializing</p></ha-authorize>
    </div>
    <%= renderTemplate("_js_base.html.template") %>
    <%= renderTemplate("_preload_roboto.html.template") %>
    <script crossorigin="use-credentials">
      // Safari 12 and below does not have a compliant ES2015 implementation of template literals, so we ship ES5
      if (!isS11_12) {
        <% for (const entry of latestEntryJS) { %>
          import("<%= entry %>");
        <% } %>
        window.latestJS = true;
        window.providersPromise = fetch("/auth/providers", {
          credentials: "same-origin",
        });
      }
    </script>
    <%= renderTemplate("_script_load_es5.html.template") %>
  </body>
</html>
